---
import BackButton from "../components/BackButton.astro";
import Avatar from "../components/Avatar.astro";
import Layout from "../layouts/Layout.astro";
import { FetchUserData } from "../utils/fetchUserData.ts";

export interface User {
  name: string;
  bio: string;
  image: string;
  presentation: string;
  links: { title: string; url: string; icon: string }[];
}


export async function getStaticPaths() {
  return [
    { params: { user: '1' } },
    { params: { user: '2' } },
    { params: { user: '3' } }
  ];
}

// Obtener el ID del usuario desde la URL y los datos del usuario
const { user } = Astro.params;
const userData: any = await FetchUserData(user);
---
  <Layout title={userData.name}>
    <section class="content-profile">
      <BackButton />
      <ul>
        <li>
          <Avatar name={userData.name} image={userData.image} />
        </li>
        <li>
          {userData.presentation}
        </li>
        {userData.links.map((link:any) => (
          <li class="links">
            <a href={link.url} target="_blank" rel="noopener noreferrer">
              <i class={`fa ${link.icon}`} aria-hidden="true"></i>
              {link.title}
            </a>
          </li>
        ))}
      </ul>
    </section>
  </Layout>

<style>
  .content-profile {
    width: 35%;
    min-width: 20rem;
    min-height: 64vh;
    margin: auto;
    padding: 2rem;
    background: var(--bg);
    color: var(--color);
    border-radius: var(--border-rd);
    border: 4px solid var(--border-color);
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.54);
  }

  .content-profile ul {
    list-style: none;
    font-size: medium;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
  .content-profile .links{
    background: var(--bg-link);
    padding: 2rem;
    border-radius: var(--border-rd);
  }
  .content-profile ul a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #007bff;
    font-weight: 600;
  }

  .content-profile ul a i {
    margin-right: 8px;
  }

  .content-profile ul a:hover {
    text-decoration: underline;
  }
  @media (max-width: 768px) {
        .content-profile {
            width: 100%;
        }
    }
</style>
